@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #1ab69d;
    --color-secondary: #ee4a62;
    --color-textSecondary: #ff5b5c;
    --color-tertiary: #f8b81f;
    --color-dark: #111212;
    --color-heading: #181818;
    --dark-color-heading: #fff;
    --color-border: #e5e5e5;
    --dark-color-border: #282f3a;
    --color-body: gray;
    --gradient-primary: linear-gradient(-90deg,#31b978 0%,#1ab69d 100%);
    --bg-color: #EAF0F2;
    --dark-bg-color: #020b17;
    --cta-color-bg: #F0F4F5;
    --color-bg-body: #fff;
    --dark-color-bg-body: #111822;
    --bg-color-2: #1c242f;
    --color-white: #fff;
    --color-black: #000;
    --footer-text: #181818;
    --dark-footer-text: gray;
    --edu-btn-color: #fff;
    --color-title: #bababa;
    --color-lighten01: #f0f4f5;
    --color-lighten02: #edf5f8;
    --color-lighten03: #f5f1eb;
    --color-lighten04: #f7f5f2;
    --color-extra01: #0ecd73;
    --color-extra02: #8e56ff;
    --color-extra03: #f92596;
    --color-extra04: #5866eb;
    --color-extra05: #f8941f;
    --color-extra06: #39c0fa;
    --color-extra07: #da04f8;
    --color-extra08: #4664e4;
    --color-extra09: #525151;
    --color-extra10: #404040;
    --color-extra11: #22272e;
    --color-success: #3EB75E;
    --color-danger: #FF0003;
    --color-warning: #FF8F3C;
    --color-info: #1BA2DB;
    --color-placeholder: gray;
    --color-facebook: #1877f2;
    --color-twitter: #1da1f2;
    --color-youtube: #cd201f;
    --color-linkedin: #0a66c2;
    --color-pinterest: #E60022;
    --color-instagram: #C231A1;
    --color-vimeo: #00ADEF;
}

.text-tdark{
color:var(--color-dark);
}

.text-tlight{
    color:var(--color-lighten01)
}

.bg-dark{
    background:var(--color-dark);
}

.bg-light1{
    background:var(--color-lighten01);
}

.text-primary{
    color:var(--color-primary)
}

.text-secondary{
    color:var(--color-secondary)
}

.font-spartan{
    font-family: "Spartan", sans-serif;
}

.font-poppins{
    font-family: "Poppins", sans-serif;
}

.text-tlight2{
    color: #bababa;
}
